body {
  font-family: Ubuntu;
  font-style: normal;
  background-color: #53527c;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: ubuntu;
  font-weight: 700;
  color: #ffffff;
}

p {
  font-family: ubuntu;
  color: #ffffff;
}

.telaAnuncie {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35%;
}

.button {
  background-color: #e69d3e;
  /* Green */
  border: none;
  color: white;
  padding: 15px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 150px;
  border-radius: 15px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #32cdd8;
  /* Green */
  color: white;
}

/* Esmanhecer da pagina keyframe */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}
@media screen and (min-width: 700px) {
  .telaAnuncie {
    background-color: #47477c;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    width: 300px;
    height: 300px;
    border: 10px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: rgb(119, 0, 255) rgb(119, 0, 255) rgb(119, 0, 255)
      rgb(119, 0, 255);
    border-radius: 15%;
  }
  .lupalinda {
    margin-left: 25%;
  }
}
