body {
  font-family: Ubuntu;
  font-style: normal;

  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: ubuntu;
  font-weight: 700;
  color: #e69d3e;
}

p {
  font-family: ubuntu;
  color: #ffffff;
}

.topo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  justify-content: center;
}
.corpoTexto {
  display: flex;
  flex-direction: column;
}
.corpoImagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  justify-content: center;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.8%;
}
.button {
  background-color: #53527c;
  /* COLOCAR MEDIDAS EM EM, POIS EM PX, OCORRERA TRANSB */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5em;
  padding: 15px 6px;
  -webkit-transition-duration: 0.4s;
  /* NAO DEFINI WIDTH PARA MOBILE..LOGO O BOTAO FICARA GRANDE*/
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #32cdd8;
  /* Green */
  color: white;
}
.botao {
  background-color: #e69d3e;
  /* Green */
  border: none;
  color: white;
  padding: 15px 6px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 90px;
  border-radius: 15px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.botao:hover {
  background-color: #32cdd8;
  /* Green */
  color: white;
}
.cardG {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  justify-content: center;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  display: flex;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(215, 214, 235);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(255, 158, 30);
  color: white;
  transform: rotateY(180deg);
}
/* Esmanhecer da pagina keyframe */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}
@media screen and (min-width: 700px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .corpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    justify-content: center;
  }
  .corpoTexto {
    display: flex;
    flex-direction: column;
  }
  .cardG {
    background-color: #53527c;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    width: auto;
    height: auto;
  }
  .logo {
    padding-left: 5%;
  }
}
